<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN"
    "http://www.ibatis.com/dtd/sql-map-2.dtd">

<sqlMap namespace="Menu">
	
	<select id="getLimitInfos" parameterClass="java.util.Map" resultClass="com.richClientFrame.dao.TableRowMap">
		SELECT 
		  LIMIT_LEVEL,
		  LIMIT_NUMBER
	    FROM SMELTERY_LIMIT_INFO 
	    order by LIMIT_LEVEL
	</select>
</sqlMap>
